.card-list {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0.002rem 15px 2px 15px;
}

button {
    height: 30%;
}

h2,
p {
    color: black;
}
