@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card-list-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-modal {
    background-color: rgb(12, 213, 146);
    color: black;
    border-radius: 25px;
    padding: 14px 20px;
    margin: 32px 0 32px 68px;
    border: none;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.delete-button {
    width: 40px;
    height: 40px;
    background: url("assets/trash-outline.svg");
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.delete-button:hover {
    background: url("assets/trash-fill.svg");
    background-size: contain;
}

.check-button {
    width: 40px;
    height: 40px;
    background: url("assets/check-outline.svg");
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url("assets/check-solid.svg");
    background-size: contain;
}
